body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.balance {
    margin-bottom: 20px;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.transaction-form label, .transaction-form select, .transaction-form button {
    margin: 5px 0;
}

.transaction-history h2 {
    margin-bottom: 10px;
}

#transactionList {
    list-style-type: none;
    padding: 0;
}

.transaction {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.income {
    color: green;
}

.expense {
    color: red;
}
